{% extends "Grochery/base.html" %}

{% block content %}

<div class="jumbotron">
    {% if registered %}
        <h1>Mulțumim pentru înregistrare!</h1>
        <!-- Adaugă un buton pentru a merge la pagina de login -->
        <a class="btn btn-primary" href="{% url 'Grochery:user_login' %}">Login</a>
    {% else %}
        <h1>Înregistrează-te aici</h1>
        <h3>Completează formularul</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            <input type="submit" name="" value="Register">
        </form>

        <!-- Adaugă un buton pentru a merge la pagina de login -->
        <p>Ai deja cont? <a href="{% url 'Grochery:user_login' %}">Login here</a></p>
    {% endif %}
</div>

{% endblock %}
